<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('选择班级')" />
    <th:block th:include="include :: ztree-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
<!--    <form class="form-horizontal m" id="form-class-add">-->
        <input id="CheckNodes"   name="CheckNodes"    type="hidden" />


        <div class="form-group">
            <label class="col-sm-3 control-label">菜单权限：</label>
            <div class="col-sm-8">
                <label class="check-box">
                    <input type="checkbox" value="1">展开/折叠</label>
                <label class="check-box">
                    <input type="checkbox" value="2">全选/全不选</label>
                <label class="check-box">
                    <input type="checkbox" value="3" checked>父子联动</label>
                <div id="classTree" class="ztree ztree-border"></div>
            </div>
        </div>
        <div id="tree" class="ztree treeselect"></div>
<!--    </form>-->
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: ztree-js" />
<script type="text/javascript">
    $(function() {
        var url = ctx + "system/classmanage/treeData";
        var options = {
            id: "classTree",
            url: url,
            check: { enable: true },
            expandLevel: 0,
            onCheck:zCheck
        };
        $.tree.init(options);
    });
    function zCheck(event){
        var menuIds=$tree.getCheckedNodes();
        $("#CheckNodes").val(menuIds);

    }


    $('input').on('ifChanged', function(obj){
        var type = $(this).val();
        var checked = obj.currentTarget.checked;
        if (type == 1) {
            if (checked) {
                $._tree.expandAll(true);
            } else {
                $._tree.expandAll(false);
            }
        } else if (type == "2") {
            if (checked) {
                $._tree.checkAllNodes(true);
            } else {
                $._tree.checkAllNodes(false);
            }
        } else if (type == "3") {
            if (checked) {
                $._tree.setting.check.chkboxType = { "Y": "ps", "N": "ps" };
            } else {
                $._tree.setting.check.chkboxType = { "Y": "", "N": "" };
            }
        }
    })


</script>
</body>
</html>
