<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('请假处理 列表')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>学号：</label>
                                <input type="text" name="stuNo"/>
                            </li>
                            <li>
                                <label>年级：</label>
                                <select id="classGrade" onchange="getClass()" name="classGrade" th:with="type=${@classGrade.selectClassGradeDataList()}">
                                    <option value="">所有</option>
                                    <option  th:each="classgrade : ${type}" th:text="${classgrade.classGrade}" th:value="${classgrade.classGrade}"></option>
                                </select>
                            </li>
                            <li>
                                <label>班级：</label>
                                <select id="classId" name="classId" >
                                    <option value="">所有</option>
                                </select>
                            </li>
                            <li>
                                <label>处理状态：</label>
                                <select name="handleStatus" th:with="type=${@dict.getType('handle_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>请假日期：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endDate]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;查询</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:info:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:info:edit')}]];
        var prefix = ctx + "system/info";
        var new_prefix = ctx + "system/absence_submit";
        var datas = [[${@dict.getType('handle_status')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                updateUrl: prefix + "/edit/{id}",
                exportUrl: prefix + "/export",
                modalName: "请假处理 ",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'absenceInfoId',
                    title: '请假信息ID',
                    visible: false
                },
                {
                    field: 'stuName',
                    title: '学生姓名'
                },
                {
                    field: 'stuNo',
                    title: '学号'
                },
                {
                    field: 'classId',
                    title: '班级'
                },
                {
                    field: 'absenceDate',
                    title: '请假日期'
                },
                {
                    field: 'absenceReason',
                    title: '请假理由'
                },
                {
                    field: 'handleStatus',
                    title: '处理状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        // if(row.handleStatus == 2) {
                        //     var actions = [];
                        //     actions.push('<a class="btn btn-success btn-xs"  onclick="AcceptStatus(row.absenceInfoId)">同意</a> ');
                        //     actions.push('<a class="btn btn-danger btn-xs"  onclick="RefuseStatus(row.absenceInfoId)">不同意</a> ');
                        //     return actions.join('');
                        // }
                        return statusTools(row);
                    }
                }]
            };
            $.table.init(options);
        });
        function getClass(){
            var class_grade = document.getElementById("classGrade").value;
            var class_list=document.getElementById("classId");
            class_list.options.length=0;
            class_list.options.add(new Option("所有",""));
            // $.operate.post(
            //     new_prefix + "/getClass", { "classGrade": class_grade,callback(){
            //
            //         } }
            // )
            $.ajax({
                type:"post",
                url:new_prefix + "/getClass",
                data:{"classGrade":class_grade},
                dataType:"json",
                success: function(data){
                    var class_list=document.getElementById("classId");
                    $.each(data,function (index,classGradeData){
                        class_list.options.add(new Option(classGradeData.classId,classGradeData.classId));
                        // alert(classGradeData.classId);
                    })
                }
            });
            // document.getElementById("classId").value = class_grade;
        }
        /* 角色状态显示 */
        function statusTools(row) {
            if (row.handleStatus == 2) {
                return '<a class="btn btn-success btn-xs" onclick="AcceptStatus(\'' + row.absenceInfoId + '\')">同意</a>' +
                    '<a class="btn btn-danger btn-xs" onclick="RefuseStatus(\'' + row.absenceInfoId + '\')">不同意</a> ';
            }
        }
        /* 改变处理状态 */
        function AcceptStatus(absenceInfoId) {
            $.modal.confirm("确认同意该请假申请吗？", function() {
                $.operate.post(new_prefix + "/changeStatus", { "absenceInfoId": absenceInfoId, "handleStatus": 0 });
            })
        }
        function RefuseStatus(absenceInfoId) {
            $.modal.confirm("确认不同意该请假申请吗？", function() {
                $.operate.post(new_prefix + "/changeStatus", { "absenceInfoId": absenceInfoId, "handleStatus": 1 });
            })
        }
    </script>
</body>
</html>