<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改学生成绩管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-studentscoremanage-edit" th:object="${score}">
            <input name="scoreRecordId" th:field="*{scoreRecordId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">测试时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="testTime" th:value="${#dates.format(score.testTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">测试年级：</label>
                <div class="col-sm-8">
                    <input name="classGrade" th:field="*{classGrade}" class="form-control" type="text" readonly="True">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">测试项目：</label>
                <div class="col-sm-8">
                    <input name="itemName" th:field="*{itemName}" class="form-control" type="text" readonly="True">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">项目单位：</label>
                <div class="col-sm-8">
                    <input name="itemUnit" th:field="*{itemUnit}" class="form-control" type="text" readonly="True">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">得分：</label>
                <div class="col-sm-8">
                    <input name="testPoint" th:field="*{testPoint}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">等级：</label>
                <div class="col-sm-8">
                    <input name="testGradeId" th:field="*{testGradeId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">测试成绩：</label>
                <div class="col-sm-8">
                    <input name="testScore" th:field="*{testScore}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/scoreandevaluation/personscore";
        $("#form-studentscoremanage-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-studentscoremanage-edit').serialize());
            }
        }

        $("input[name='testTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>