<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增测试指标 ')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-standard-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">年级-性别-项目ID：</label>
                <div class="col-sm-8">
                    <input name="tgsId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">测试基准：</label>
                <div class="col-sm-8">
                    <input name="testBase" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">得分：</label>
                <div class="col-sm-8">
                    <input name="testPoint" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">等级ID：</label>
                <div class="col-sm-8">
                    <input name="testGradeId" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/standard"
        $("#form-standard-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-standard-add').serialize());
            }
        }
    </script>
</body>
</html>