<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.classmanagement.classmanage.mapper.ClassGradeInfoMapper">
    
    <resultMap type="ClassGradeInfo" id="ClassGradeInfoResult">
        <result property="gradeClassId"    column="grade_class_id"    />
        <result property="enrollYear"    column="enroll_year"    />
        <result property="classGrade"    column="class_grade"    />
        <result property="classNo"    column="class_no"    />
        <result property="mainTeacherName"    column="main_teacher_name"    />
        <result property="phyTeacherName"    column="phy_teacher_Name"    />
        <result property="classStuCnt"    column="class_stu_cnt"    />
    </resultMap>

    <sql id="selectClassGradeInfoVo">
        select cgi.grade_class_id, cgi.enroll_year, cgi.class_grade, cgi.class_no,
               pt1.teacher_name as main_teacher_name, pt2.teacher_name as phy_teacher_name,
               count(ps.stu_id) as class_stu_cnt
        from class_grade_info cgi
        left join prsn_teacher pt1 on cgi.main_teacher_id = pt1.teacher_id
        left join prsn_teacher pt2 on cgi.phy_teacher_id = pt2.teacher_id
        left join prsn_student ps ON ps.grade_class_id = cgi.grade_class_id
       <!-- GROUP BY grade_class_id-->
    </sql>

    <select id="selectClassGradeInfoList" parameterType="ClassGradeInfo" resultMap="ClassGradeInfoResult">
        <include refid="selectClassGradeInfoVo"/>
        <where>
            <if test="enrollYear != null "> and cgi.enroll_year = #{enrollYear}</if>
            <if test="classGrade != null "> and cgi.class_grade = #{classGrade}</if>
            <if test="classNo != null "> and cgi.class_no = #{classNo}</if>
            <!-- if test="mainTeacherId != null "> and cgi.main_teacher_id = #{mainTeacherId}</if -->
            <if test="mainTeacherName != null and mainTeacherName != ''"> and pt1.teacher_name = #{mainTeacherName}</if>
            <if test="phyTeacherName != null and phyTeacherName != ''"> and pt2.teacher_name = #{phyTeacherName}</if>
        </where>
        GROUP BY cgi.grade_class_id
    </select>
    
    <select id="selectClassGradeInfoById" parameterType="Long" resultMap="ClassGradeInfoResult">
        <include refid="selectClassGradeInfoVo"/>
        where cgi.grade_class_id = #{gradeClassId}
    </select>
        
    <insert id="insertClassGradeInfo" parameterType="ClassGradeInfo" useGeneratedKeys="true" keyProperty="gradeClassId">
        insert into class_grade_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enrollYear != null">enroll_year,</if>
            <if test="classGrade != null">class_grade,</if>
            <if test="classNo != null">class_no,</if>
            <if test="mainTeacherId != null">main_teacher_id,</if>
            <if test="phyTeacherId != null">phy_teacher_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enrollYear != null">#{enrollYear},</if>
            <if test="classGrade != null">#{classGrade},</if>
            <if test="classNo != null">class_no,</if>
            <if test="mainTeacherId != null">#{mainTeacherId},</if>
            <if test="phyTeacherId != null">#{phyTeacherId},</if>
         </trim>
    </insert>

    <update id="updateClassGradeInfo" parameterType="ClassGradeInfo">
        update class_grade_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="enrollYear != null">enroll_year = #{enrollYear},</if>
            <if test="classGrade != null">class_grade = #{classGrade},</if>
            <if test="classNo != null">class_no = #{classNo},</if>
            <if test="mainTeacherId != null">main_teacher_id = #{mainTeacherId},</if>
            <if test="phyTeacherId != null">phy_teacher_id = #{phyTeacherId},</if>
        </trim>
        where grade_class_id = #{gradeClassId}
    </update>

    <delete id="deleteClassGradeInfoById" parameterType="Long">
        delete from class_grade_info where grade_class_id = #{gradeClassId}
    </delete>

    <delete id="deleteClassGradeInfoByIds" parameterType="String">
        delete from class_grade_info where grade_class_id in 
        <foreach item="gradeClassId" collection="array" open="(" separator="," close=")">
            #{gradeClassId}
        </foreach>
    </delete>

</mapper>