<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.bodyevaluation.mapper.BodyEvaluationMapper">

    <resultMap type="BodyScore" id="BodyScoreResult">
        <result property="scoreRecordId"    column="score_record_id"    />
        <result property="tgsId"    column="tgs_id"    />
        <result property="testTime"    column="test_time"    />
        <result property="testScore"    column="test_score"    />
        <result property="testPoint"    column="test_point"/>
        <result property="testGradeId"    column="test_grade_id"/>
        <result property="itemId"    column="test_item_id"    />
        <result property="itemName"    column="test_item_name"    />
        <result property="scoreRelation"    column="test_score_relation"    />
        <result property="classGrade"    column="grade"    />
        <result property="sexId"    column="stu_sex_id"    />
        <result property="classNo"    column="class_no"    />
    </resultMap>

    <resultMap type="BodyEvaluation" id="BodyEvaluationResult">
        <result property="itemId"    column="test_item_id"    />
        <result property="itemName"    column="test_item_name"    />
    </resultMap>

    <resultMap type="Statistical" id="StatisticalResult">
        <result property="testItemId" column="test_item_id" />
        <result property="testYear" column="test_year" />
        <result property="testClassGrade" column="test_class_grade" />
        <result property="classNo" column="class_no"/>
        <result property="sumPoint" column="sum_point" />
        <result property="sumStu" column="sum_stu" />
        <result property="avePoint" column="ave_point" />
    </resultMap>

    <sql id="slectBodyScoreVo">
        SELECT
            s.score_record_id,
            s.tgs_id,
            s.test_time,
            s.test_score,
            s.test_point,
            s.test_grade_id,
            ti.test_item_id,
            ti.test_item_name,
            ti.test_score_relation,
            tgsr.stu_sex_id,
            tgsr.grade,
            cgi.class_no
        FROM
            score s, test_item ti, test_grade_sex_relation tgsr, prsn_student ps, class_grade_info cgi
        WHERE
            s.tgs_id=tgsr.tgs_id
        AND
            tgsr.test_item_id=ti.test_item_id
        AND
            s.stu_id=ps.stu_id AND ps.grade_class_id=cgi.grade_class_id
    </sql>

    <sql id="selectItemListVo">
        SELECT
            test_item_id,
            test_item_name
        FROM
            test_item
    </sql>

    <select id="selectBodyScoreList" parameterType="BodyScore" resultMap="BodyScoreResult">
        <include refid="slectBodyScoreVo"/>
        <if test="classGrade != null"> AND tgsr.grade = #{classGrade} </if>
        <if test="classNo != null"> AND cgi.class_no = #{classNo} </if>
        <if test="sexId != null"> AND tgsr.stu_sex_id = #{sexId} </if>
        AND ti.test_item_id != 9
        AND ti.test_item_id != 8
    </select>

    <select id="selectItemList" parameterType="BodyEvaluation" resultMap="BodyEvaluationResult">
        <include refid="selectItemListVo"/>
    </select>

    <update id="truncateTable">
        truncate table statistical_information
    </update>

    <insert id="insertStatistical" parameterType="Statistical" keyProperty="scoreRecordId">
        insert into statistical_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="statisticalInformationId != null">statistical_information_id,</if>
            <if test="testItemId != null">test_item_id,</if>
            <if test="testYear != null">test_year,</if>
            <if test="testClassGrade != null">test_class_grade,</if>
            <if test="classNo != null">class_no,</if>
            <if test="sumPoint != null">sum_point,</if>
            <if test="sumStu != null">sum_stu,</if>
            <if test="avePoint != null">ave_point,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="statisticalInformationId != null">#{statisticalInformationId},</if>
            <if test="testItemId != null">#{testItemId},</if>
            <if test="testYear != null">#{testYear},</if>
            <if test="testClassGrade != null">#{testClassGrade},</if>
            <if test="classNo != null">#{classNo},</if>
            <if test="sumPoint != null">#{sumPoint},</if>
            <if test="sumStu != null">#{sumStu},</if>
            <if test="avePoint != null">#{avePoint},</if>
        </trim>
    </insert>

    <resultMap type="BodyEvaluationBar" id="BodyEvaluationForBarResult">
        <result property="itemId"    column="test_item_id"    />
        <result property="itemName"    column="test_item_name"    />
        <result property="year"    column="test_year"    />
        <result property="ave"    column="ave_point"    />
        <result property="sumStu"    column="sum_stu"    />
    </resultMap>
    <sql id="selectForBarVo">
        SELECT
            ti.test_item_id,
            ti.test_item_name,
            si.test_year,
            si.ave_point,
            si.sum_stu
        FROM
            test_item ti,
            statistical_information si
        WHERE
            ti.test_item_id=si.test_item_id
    </sql>
    <select id="selectForBar" parameterType="BodyEvaluationBar" resultMap="BodyEvaluationForBarResult">
        <include refid="selectForBarVo"/>
        <if test="classGrade != null"> AND si.test_class_grade = #{classGrade} </if>
        <if test="classNo !=null"> AND si.class_no = #{classNo} </if>
        <if test="year != null"> AND si.test_year = #{year} </if>
        ORDER BY si.test_item_id, si.test_year
    </select>
</mapper>
