<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.teacher.mapper.PrsnTeacherMapper">
    
    <resultMap type="PrsnTeacher" id="PrsnTeacherResult">
        <result property="teacherId"    column="teacher_id"    />
        <result property="teacherNo"    column="teacher_no"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="teacherSex"    column="dict_label"    />
        <result property="teacherNid"    column="teacher_nid"    />
        <result property="teacherJobId"    column="teacher_job_id"    />
        <result property="classGrade"     column="class_grade"  />
        <result property="classId"          column="class_no"/>
        <result property="teacherPhone"    column="teacher_phone"    />
        <result property="teacherEmail"    column="teacher_email"    />
        <result property="teacherWechat"    column="teacher_wechat"    />
        <result property="enrollYear"       column="enroll_year" />
        <result property="eycg"     column="eycg"  />

    </resultMap>

    <sql id="selectPrsnTeacherVo">
        SELECT pt.teacher_id,
               pt.teacher_no,
               pt.teacher_name,
               sdd.dict_label,
               pt.teacher_nid,
               pt.teacher_job_id,
               GROUP_CONCAT(concat( cgi.enroll_year,cgi.class_no )) AS enroll_year,
               pt.teacher_phone,
               pt.teacher_email,
               pt.teacher_wechat
        FROM prsn_teacher pt,sys_dict_data sdd,class_grade_info cgi
        WHERE (cgi.main_teacher_id=pt.teacher_id or cgi.phy_teacher_id=pt.teacher_id)
          AND sdd.dict_type='sys_user_sex'
          AND sdd.dict_value=pt.teacher_sex
        group by teacher_id
    </sql>

    <select id="selectPrsnTeacherList" parameterType="PrsnTeacher" resultMap="PrsnTeacherResult">
        <include refid="selectPrsnTeacherVo"/>
            <if test="teacherNo != null "> and teacher_no = #{teacherNo}</if>
            <if test="teacherName != null  and teacherName != '' "> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="teacherSex != null and teacherSex != '' "> and dict_value = #{teacherSex}</if>
            <if test="teacherNid != null  and teacherNid != '' "> and teacher_nid = #{teacherNid}</if>
            <if test="teacherJobId != null "> and teacher_job_id = #{teacherJobId}</if>
            <if test="classGrade != null ">and cgi.class_grade = #{classGrade}</if>
            <if test="classId!=null ">and cgi.class_no = #{classId}</if>
            <if test="enrollYear !=null ">and cgi.enroll_year = #{enrollYear}</if>
            <if test="teacherPhone != null  and teacherPhone != '' "> and teacher_phone = #{teacherPhone}</if>
            <if test="teacherEmail != null  and teacherEmail != '' "> and techer_email = #{teacherEmail}</if>
            <if test="teacherWechat != null  and teacherWechat != '' "> and teacher_wechat = #{teacherWechat}</if>

    </select>

    <sql id="selectPrsnTeacherCopy">
        SELECT
            pt.teacher_id,
            pt.teacher_no,
            pt.teacher_name,
            pt.teacher_sex,
            pt.teacher_nid,
            pt.teacher_job_id,
            pt.teacher_phone,
            pt.teacher_email,
            pt.teacher_wechat,
            GROUP_CONCAT(concat( cgi.enroll_year,cgi.class_no )) AS enroll_year
        FROM
            prsn_teacher pt,
            class_grade_info cgi
        WHERE
         teacher_id = #{teacherId}
        and ( cgi.main_teacher_id = pt.teacher_id OR cgi.phy_teacher_id = pt.teacher_id )
    </sql>


    <select id="selectPrsnTeacherById" parameterType="Long" resultMap="PrsnTeacherResult">
        <include refid="selectPrsnTeacherCopy"/>
    </select>


    <select id="selectteaIdByAccountId" parameterType="Long" resultMap="PrsnTeacherResult">
        SELECT
            pt.teacher_id,
            pt.teacher_no,
            pt.teacher_name,
            sdd.dict_label,
            pt.teacher_job_id,
            pt.teacher_nid,
            concat( cgi.enroll_year, cgi.class_no ) AS enroll_year,
            pt.teacher_email,
            pt.teacher_phone,
            pt.teacher_wechat
        FROM
            prsn_teacher pt,
            sys_dict_data sdd,
            prsn_account pa,
            class_grade_info cgi
        WHERE
            dict_type = 'sys_user_sex'
          AND sdd.dict_value = pt.teacher_sex
          AND pa.teacher_id = pt.teacher_id
          AND cgi.main_teacher_id = pt.teacher_id
          AND pa.account_id = #{accountId}

    </select>

    <select id="selectPrsnTeacherAll" parameterType="Long" resultMap="PrsnTeacherResult">
        <include refid="selectPrsnTeacherVo"></include>
    </select>

    <insert id="insertPrsnTeacher" parameterType="PrsnTeacher" useGeneratedKeys="true" keyProperty="teacherId">
        insert into prsn_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">teacher_id,</if>
            <if test="teacherNo != null">teacher_no,</if>
            <if test="teacherName != null">teacher_name,</if>
            <if test="teacherSex != null">teacher_sex,</if>
            <if test="teacherNid != null">teacher_nid,</if>
            <if test="teacherJobId != null">teacher_job_id,</if>
#             <if test="classGrade != null">cgi.class_grade,</if>
#             <if test="classId != null">cgi.class_no,</if>
            <if test="teacherPhone != null">teacher_phone,</if>
            <if test="teacherEmail != null">teacher_email,</if>
            <if test="teacherWechat != null">teacher_wechat,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherId !=null">#{teacherId},</if>
            <if test="teacherNo != null">#{teacherNo},</if>
            <if test="teacherName != null">#{teacherName},</if>
            <if test="teacherSex != null">#{teacherSex},</if>
            <if test="teacherNid != null">#{teacherNid},</if>
            <if test="teacherJobId != null">#{teacherJobId},</if>
#             <if test="classGrade !=null">{classGrade},</if>
#             <if test="classId !=null">{classId},</if>
            <if test="teacherPhone != null">#{teacherPhone},</if>
            <if test="teacherEmail != null">#{teacherEmail},</if>
            <if test="teacherWechat != null">#{teacherWechat},</if>
         </trim>
    </insert>

    <update id="updatePrsnTeacher" parameterType="PrsnTeacher">
        update prsn_teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherId !=null">teacher_id = #{teacherId},</if>
            <if test="teacherNo != null">teacher_no = #{teacherNo},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="teacherSex != null">teacher_sex = #{teacherSex},</if>
            <if test="teacherNid != null">teacher_nid = #{teacherNid},</if>
            <if test="teacherJobId != null">teacher_job_id = #{teacherJobId},</if>
#             <if test="classGrade !=null">cgi.class_grade = #{classGrade},</if>
#             <if test="classId !=null">cgi.class_no = #{classId},</if>
            <if test="teacherPhone != null">teacher_phone = #{teacherPhone},</if>
            <if test="teacherEmail != null">teacher_email = #{teacherEmail},</if>
            <if test="teacherWechat != null">teacher_wechat = #{teacherWechat},</if>
        </trim>
        where teacher_id = #{teacherId}
    </update>

    <update id="updatepartPrsnTeacher" parameterType="PrsnTeacher">
        update prsn_teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherPhone != null">teacher_phone = #{teacherPhone},</if>
            <if test="teacherEmail != null">teacher_email = #{teacherEmail},</if>
            <if test="teacherWechat != null">teacher_wechat = #{teacherWechat},</if>
        </trim>
        where teacher_id = #{teacherId}
    </update>

    <delete id="deletePrsnTeacherById" parameterType="Long">
        delete from prsn_teacher where teacher_id = #{teacherId}
    </delete>

    <delete id="deletePrsnTeacherByIds" parameterType="String">
        delete from prsn_teacher where teacher_id in 
        <foreach item="teacherId" collection="array" open="(" separator="," close=")">
            #{teacherId}
        </foreach>
    </delete>

</mapper>