<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.recordstu.mapper.RecordStuMapper">
    
    <resultMap type="RecordStu" id="RecordStuResult">
        <result property="testRecordId"    column="test_record_id"    />
        <result property="stuId"    column="stu_id"    />
        <result property="enrollYear"    column="enroll_year"    />
        <result property="classNo"    column="class_no"    />
        <result property="testItemId"    column="test_item_id"    />
    </resultMap>

    <sql id="selectRecordStuVo">
        select test_record_id, stu_id, enroll_year, class_no, test_item_id
        from record_stu
    </sql>

    <select id="selectRecordStuList" parameterType="RecordStu" resultMap="RecordStuResult">
        <include refid="selectRecordStuVo"/>
        <where>  
            <if test="testRecordId != null  and testRecordId != ''"> and test_record_id = #{testRecordId}</if>
            <if test="stuId != null  and stuId != ''"> and stu_id = #{stuId}</if>
            <if test="enrollYear != null  and enrollYear != ''"> and enroll_year = #{enrollYear}</if>
            <if test="classNo != null  and classNo != ''"> and class_no = #{classNo}</if>
            <if test="testItemId != null  and testItemId != ''"> and test_item_id = #{testItemId}</if>
        </where>
    </select>
    
    <select id="selectRecordStuById" parameterType="String" resultMap="RecordStuResult">
        <include refid="selectRecordStuVo"/>
        where test_record_id = #{testRecordId}
    </select>
        
    <insert id="insertRecordStu" parameterType="RecordStu">
        insert into record_stu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="testRecordId != null">test_record_id,</if>
            <if test="stuId != null">stu_id,</if>
            <if test="enrollYear != null">enroll_year,</if>
            <if test="classNo != null">class_no,</if>
            <if test="testItemId != null">test_item_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="testRecordId != null">#{testRecordId},</if>
            <if test="stuId != null">#{stuId},</if>
            <if test="enrollYear != null">#{enrollYear},</if>
            <if test="classNo != null">#{classNo},</if>
            <if test="testItemId != null">#{testItemId},</if>
         </trim>
    </insert>

    <update id="updateRecordStu" parameterType="RecordStu">
        update record_stu
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuId != null">stu_id = #{stuId},</if>
            <if test="enrollYear != null">enroll_year = #{enrollYear},</if>
            <if test="classNo != null">class_no = #{classNo},</if>
            <if test="testItemId != null">test_item_id = #{testItemId},</if>
        </trim>
        where test_record_id = #{testRecordId}
    </update>

    <delete id="deleteRecordStuById" parameterType="String">
        delete from record_stu where test_record_id = #{testRecordId}
    </delete>

    <delete id="deleteRecordStuByIds" parameterType="String">
        delete from record_stu where test_record_id in 
        <foreach item="testRecordId" collection="array" open="(" separator="," close=")">
            #{testRecordId}
        </foreach>
    </delete>

</mapper>