<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.common.mapper.StudentDataForDropdownMapper">

    <resultMap type="StudentDataForDropdown" id="StudentDataForDropdownResult">
        <result property="stuId"    column="stu_id"    />
        <result property="stuNo"    column="stu_no"    />
        <result property="stuName"    column="stu_name"    />
        <result property="stuSex"    column="dict_label"    />
        <result property="stuEnrollYear"    column="stu_enroll_year"    />
        <result property="gradeClassId"    column="grade_class_id"    />
    </resultMap>

    <sql id="selectDictDataVo">
        SELECT ps.stu_id, ps.stu_no, ps.stu_name, dict_label, ps.stu_enroll_year, ps.grade_class_id
        FROM prsn_student ps, sys_dict_data sdd
        WHERE sdd.dict_type = 'sys_user_sex' AND ps.stu_sex = sdd.dict_value
    </sql>


    <select id="selectStudentDataForDropdownByNo"  resultMap="StudentDataForDropdownResult">
        <include refid="selectDictDataVo"/>

    </select>

</mapper>