<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.common.mapper.TestDataMapper">

    <resultMap type="TestData" id="TestDataResult" >
        <result property="testItem" column="test_item_name"/>
        <result property="itemId" column="test_item_id"/>
    </resultMap>
<sql id="selectTestDataVo">
    select test_item_id,test_item_name from test_item
</sql>
<select id="selectTestDataByNo" resultMap="TestDataResult">
    <include refid="selectTestDataVo"></include>
</select>
</mapper>