<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增测试学生列 ')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-stu-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">测试学生ID：</label>
                <div class="col-sm-8">
                    <input name="stuId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">测试记录ID：</label>
                <div class="col-sm-8">
                    <input name="testRecordId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">测试项目ID：</label>
                <div class="col-sm-8">
                    <input name="testItemId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否通过 0-否，1-是：</label>
                <div class="col-sm-8">
                    <input name="passOrNot" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/stu"
        $("#form-stu-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-stu-add').serialize());
            }
        }

    </script>
</body>
</html>