<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-12">
    <div class="form-group">
        <label class="col-sm-3 control-label">姓名：</label>
        <div class="col-sm-9">
            <input type="text" name="" class="form-control" placeholder="请输入文本">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">性别：</label>
        <div class="col-sm-9">
            <label class="radio-box">
                <input type="radio" checked="" value="0" id="optionsRadios1" name="optionsRadios">男</label>
            <label class="radio-box">
                <input type="radio" value="1" id="optionsRadios2" name="optionsRadios">女</label>
        </div>
    </div>
</div>
</body>
</html>
