<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改学生信息 ')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-student-edit" th:object="${prsnStudent}">
            <input name="stuId" th:field="*{stuId}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="stuName" th:field="*{stuName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <select name="stuSex" class="form-control m-b">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
<!--                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>-->
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">学号：</label>
                <div class="col-sm-8">
                    <input name="stuNo" th:field="*{stuNo}" class="form-control" type="text">
                </div>
            </div>


            <div class="form-group">    
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="stuBirth" th:value="${#dates.format(prsnStudent.stuBirth, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">民族：</label>
                <div class="col-sm-8">
                    <select name="stu_nation_id" class="form-control m-b">
                        <option value="0">汉族</option>
                        <option value="1">壮族</option>
                        <option value="2">满族</option>
                        <option value="3">回族</option>
                        <option value="4">苗族</option>
                        <option value="5">维吾尔族</option>
                        <option value="6">土家族</option>
                        <option value="7">彝族</option>
                        <option value="8">蒙古族</option>
                        <option value="9">藏族</option>
                        <option value="10">布依族</option>
                        <option value="11">侗族</option>
                        <option value="12">瑶族</option>
                        <option value="13">朝鲜族</option>
                        <option value="14">白族</option>
                        <option value="15">哈尼族</option>
                        <option value="16">哈萨克族</option>
                        <option value="17">黎族</option>
                        <option value="18">傣族</option>
                        <option value="19">畲族</option>
                        <option value="20">傈僳族</option>
                        <option value="21">仡佬族</option>
                        <option value="22">东乡族</option>
                        <option value="23">高山族</option>
                        <option value="24">拉祜族</option>
                        <option value="25">水族</option>
                        <option value="26">佤族</option>
                        <option value="27">纳西族</option>
                        <option value="28">羌族</option>
                        <option value="29">土族</option>
                        <option value="30">仫佬族</option>
                        <option value="31">锡伯族</option>
                        <option value="32">柯尔克孜族</option>
                        <option value="33">达斡尔族</option>
                        <option value="34">景颇族</option>
                        <option value="35">毛南族</option>
                        <option value="36">撒拉族</option>
                        <option value="37">布朗族</option>
                        <option value="38">塔吉克族</option>
                        <option value="39">阿昌族</option>
                        <option value="40">普米族</option>
                        <option value="41">鄂温克族</option>
                        <option value="42">怒族</option>
                        <option value="43">京族</option>
                        <option value="44">基诺族</option>
                        <option value="45">德昂族</option>
                        <option value="46">保安族</option>
                        <option value="47">俄罗斯族</option>
                        <option value="48">裕固族</option>
                        <option value="49">乌孜别克族</option>
                        <option value="50">门巴族</option>
                        <option value="51">鄂伦春族</option>
                        <option value="52">独龙族</option>
                        <option value="53">塔塔尔族</option>
                        <option value="54">赫哲族</option>
                        <option value="55">珞巴族</option>

                    </select>
                </div>
            </div>


            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证号：</label>
                <div class="col-sm-8">
                    <input name="stuNid" th:field="*{stuNid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">年级：</label>
                <div class="col-sm-8">
                    <input name="stuEnrollYear" th:field="*{stuEnrollYear}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">班级：</label>
                <div class="col-sm-8">
                    <input name="gradeClassId" th:field="*{gradeClassId}" class="form-control" type="text">
                </div>
            </div>

<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">年级：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select name="classGrade" th:field="*{stuEnrollYear}" class="form-control m-b" th:with="type=${@classGrade.selectClassGradeDataList()}">-->
<!--                        <option value="">所有</option>-->
<!--                        <option  th:each="classGrade : ${type}" th:text="${classGrade.classGrade}" th:value="${classGrade.classGrade}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">班级：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select name="classGrade" th:field="*{gradeClassId}" class="form-control m-b" th:with="type=${@classGrade.selectClassGradeDataList()}">-->
<!--                        <option value="">所有</option>-->
<!--                        <option  th:each="classGrade : ${type}" th:text="${classGrade.ClassNo}" th:value="${classGrade.ClassNo}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->




            <div class="form-group">
                <label class="col-sm-3 control-label">联系电话：</label>
                <div class="col-sm-8">
                    <input name="stuPhone" th:field="*{stuPhone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">微信：</label>
                <div class="col-sm-8">
                    <input name="stuWechat" th:field="*{stuWechat}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/student";
        $("#form-student-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-student-edit').serialize());
            }
        }

        $("input[name='stuBirth']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).on('changeDate',function() {
            var time = $("input[name='stuBirth']").val();
            var times = time.split("-")
            var date = new Date()
            var nowyear = date.getFullYear()
            document.getElementById("t2").value=nowyear-times[0];
        });
    </script>
</body>
</html>