<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生信息 列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>学生号：</label>
                                <input type="text" name="stuNo"/>
                            </li>
                            <li>
                                <label>学生姓名：</label>
                                <input type="text" name="stuName"/>
                            </li>
                            <li>
                                <label>学生性别ID：</label>
                                <select name="stuSex">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>出生日期：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginStuBirth]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endStuBirth]"/>
                            </li>
                            <li>
                                <label>民族ID：</label>
                                <input type="text" name="stuNationId"/>
                            </li>
                            <li>
                                <label>身份证号：</label>
                                <input type="text" name="stuNid"/>
                            </li>
                            <li>
                                <label>入学年份：</label>
                                <input type="text" name="stuEnrollYear"/>
                            </li>
                            <li>
                                <label>年班ID：</label>
                                <input type="text" name="gradeClassId"/>
                            </li>
                            <li>
                                <label>学生电话：</label>
                                <input type="text" name="stuPhone"/>
                            </li>
                            <li>
                                <label>学生微信：</label>
                                <input type="text" name="stuWechat"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:student:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:student:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:student:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:student:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:student:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:student:remove')}]];
        var prefix = ctx + "system/student";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "学生信息 ",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'stuId',
                    title: '学生ID',
                    visible: false
                },
                {
                    field: 'stuNo',
                    title: '学生号'
                },
                {
                    field: 'stuName',
                    title: '学生姓名'
                },
                {
                    field: 'stuSex',
                    title: '学生性别ID'
                },
                {
                    field: 'stuBirth',
                    title: '出生日期'
                },
                {
                    field: 'stuNationId',
                    title: '民族ID'
                },
                {
                    field: 'stuNid',
                    title: '身份证号'
                },
                {
                    field: 'stuEnrollYear',
                    title: '入学年份'
                },
                {
                    field: 'gradeClassId',
                    title: '年班ID'
                },
                {
                    field: 'stuPhone',
                    title: '学生电话'
                },
                {
                    field: 'stuWechat',
                    title: '学生微信'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.stuId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.stuId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>