<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('成绩与体质评价列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
         <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId" name="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                年级：<input type="text" id="stuEnrollYear" name="stuEnrollYear"/>
                            </li>
                            <li>
                                班级：<input type="text" name="classNo"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>重置</a>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.operate.bodyEvaluateTab(document.forms['formId'].stuEnrollYear.value);"><i class="fa fa-bug"></i>生成评价</a>
                                <a class="btn btn-info btn-rounded btn-sm" onclick="$.modal.openFull('导入学生成绩',table.options.scoreImportUrl,null,null);"><i class="fa fa-upload"></i>导入</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
         </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:scoreandevaluation:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:scoreandevaluation:remove')}]];
        var prefix = ctx + "system/scoreandevaluation";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                scoreImportUrl: prefix + "/scoreimport",
                bodyEvaluateUrl: prefix + "/bodyEvaluate/bodyEvaluate/{id}",
                studentscoremanageUrl: prefix + "/studentscoremanage/studentscoremanage/{id}",
                modalName: "成绩与体质评价",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'scoreRecordId',
                    title: '成绩记录ID',
                    visible: false
                },
                    {
                        field: 'stuId',
                        title: '学生ID',
                        visible: false
                    },
                    {
                        field: 'tgsId',
                        title: '年级-性别-项目ID',
                        visible: false
                    },
                    {
                        field: 'testTime',
                        title: '测试时间',
                        visible: false
                    },
                {
                    field: 'testScore',
                    title: '测试成绩',
                    visible: false
                },
                {
                    field: 'stuNo',
                    title: '学号'
                },
                {
                    field: 'stuName',
                    title: '姓名'
                },
                {
                    field: 'stuSex',
                    title: '性别'
                },
                {
                    field: 'classNo',
                    title: '班级'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.personalscoremanageTab(\'' + row.stuId + '\')"><i class="fa fa-edit"></i>成绩管理</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>