<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生信息 ')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>


<div class="center">
<p class="user-info-center" onclick="avatar()"><img class="img-circle img-lg" src="/profile/avatar/2021/04/14/deefc580-c011-4b3d-bb1b-4604df9647b3.png"></p>

</div>



    <form class="form-horizontal m" id="form-student-editsave" th:object="${prsnStudent}">

        <input name="stuId" id="stuId" type="hidden" th:field="*{stuId}" >
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">姓名：</label>
                            <div class="col-sm-8">
                                <input name="stuName" placeholder="请输入学生姓名" class="form-control" type="text" maxlength="30" th:field="*{stuName}" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">性别：</label>
                            <div class="col-sm-8">
                                <input name="userName" placeholder="请输入学生性别" class="form-control" type="text" maxlength="30" th:field="*{stuSex}" required>
                            </div>
                        </div>
                    </div>
                </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">学号：</label>
                    <div class="col-sm-8">
                        <input name="stuNo" placeholder="请输入学生学号" class="form-control" type="text" maxlength="30" th:field="*{stuNo}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">出生日期：</label>
                    <div class="col-sm-8">
                        <input name="stuBirth" placeholder="请输入出生日期" class="form-control" type="text" maxlength="30" th:field="*{stuBirth}" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">年龄：</label>
                    <div class="col-sm-8">
                        <input name="stuName" placeholder="请输入学生学号" class="form-control" type="text" maxlength="30" th:field="*{stuName}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">民族：</label>
                    <div class="col-sm-8">
                        <input name="stuNationId" placeholder="请输入出生日期" class="form-control" type="text" maxlength="30" th:field="*{stuNationId}" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">身份证号：</label>
                    <div class="col-sm-8">
                        <input name="stuNid" placeholder="请输入学生学号" class="form-control" type="text" maxlength="30" th:field="*{stuNid}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">年级：</label>
                    <div class="col-sm-8">
                        <input name="gradeClassId" placeholder="请输入出生日期" class="form-control" type="text" maxlength="30" th:field="*{gradeClassId}" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">班级：</label>
                    <div class="col-sm-8">
                        <input name="stuName" placeholder="请输入学生学号" class="form-control" type="text" maxlength="30" th:field="*{stuName}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">联系电话：</label>
                    <div class="col-sm-8">
                        <input name="stuName" placeholder="请输入出生日期" class="form-control" type="text" maxlength="30" th:field="*{stuName}" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">微信：</label>
                    <div class="col-sm-8">
                        <input name="stuWechat" placeholder="请输入学生学号" class="form-control" type="text" maxlength="30" th:field="*{stuWechat}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">联系电话：</label>
                    <div class="col-sm-8">
                        <input name="stuPhone" placeholder="请输入出生日期" class="form-control" type="text" maxlength="30" th:field="*{stuPhone}" required>
                    </div>
                </div>
            </div>
        </div>
    </form>





    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitUserInfo()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>










<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var prefix = ctx + "system/student/stu_info";
    $("#form-student-edit").validate({//验证表单
        focusCleanup: true
    });

    // function submitHandler() {
    //     if ($.validate.form()) {
    //         $.operate.save(prefix + "/edit", $('#form-student-edit').serialize());//.serialize() 方法创建以标准 URL 编码表示的文本字符串。
    //     }
    // }

    function submitUserInfo() {
        alert("sancjaslas");
        if ($.validate.form()) {
            $.operate.saveModal(prefix + "/update", $('#form-student-editsave').serialize());
        }
    }

    $("input[name='stuBirth']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    }).on('changeDate',function() {
        var time = $("input[name='stuBirth']").val();
        var times = time.split("-")
        var date = new Date()
        var nowyear = date.getFullYear()
        //document.getElementById("t2").value=nowyear-times[0];
    });
</script>
</body>
</html>