<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增年班信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-classmanage-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">入学年份：</label>
                <div class="col-sm-8">
                    <input name="enrollYear" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年级：</label>
                <div class="col-sm-8">
                    <input name="classGrade" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">班级：</label>
                <div class="col-sm-8">
                    <input name="classNo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">班主任：</label>
                <div class="col-sm-8">
                    <select class="form-control" id="teacherId" name="mainTeacherId" th:with="type=${@teacherId.selectTeacherDataList()}">
                        <option value="">--请选择--</option>
                        <option th:each="teacherid : ${type}" th:text="${teacherid.teacherName}" th:value="${teacherid.teacherId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">体育老师：</label>
                <div class="col-sm-8">
                    <select class="form-control" id="teacherId" name="phyTeacherId" th:with="type=${@teacherId.selectTeacherDataList()}">
                        <option value="">--请选择--</option>
                        <option th:each="teacherid : ${type}" th:text="${teacherid.teacherName}" th:value="${teacherid.teacherId}"></option>
                    </select>
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">班主任：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="mainTeacherName" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">体育老师：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="phyTeacherName" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "classmanagement/classmanage"
        $("#form-classmanage-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-classmanage-add').serialize());
            }
        }
    </script>
</body>
</html>