<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('年班信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>入学年份：</label>
                                <input type="text" name="enrollYear"/>
                            </li>
                            <li>
                                <label>年级：</label>
                                <input type="text" name="classGrade"/>
                            </li>
                            <li>
                                <label>班级：</label>
                                <input type="text" name="classNo"/>
                            </li>
                            <li>
                                <label>班主任：</label>
                                <input type="text" name="teacherName"/>
                            </li>
                            <li>
                                <label>体育老师：</label>
                                <input type="text" name="phyTeacherName"/>
                            </li>
                            <li>
                                <label>学生人数：</label>
                                <input type="text" name="stuCount"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="classmanagement:classmanage:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="classmanagement:classmanage:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="classmanagement:classmanage:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="classmanagement:classmanage:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('classmanagement:classmanage:edit')}]];
        var removeFlag = [[${@permission.hasPermi('classmanagement:classmanage:remove')}]];
        var prefix = ctx + "classmanagement/classmanage";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "年班信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'gradeClassId',
                    title: '年班ID',
                    visible: false
                },
                {
                    field: 'enrollYear',
                    title: '入学年份'
                },
                {
                    field: 'classGrade',
                    title: '年级'
                },
                {
                    field: 'classNo',
                    title: '班级'
                },
                {
                    field: 'teacherName',
                    title: '班主任'
                },
                {
                    field: 'phyTeacherName',
                    title: '体育老师'
                },
                {
                    field: 'stuCount',
                    title: '学生人数'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.gradeClassId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.gradeClassId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>